<!-- <section class="property-binding"> -->

  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curtir o curso? {{ getCurtirCurso() }}</p>
  </article> -->

  <!-- <article>
    <h3>Imagem</h3>
    <img src="{{urlImagem}}"/> -->

    <!-- Para utilizar a interpolação pode colocar
    apenas colchetes como no exemplo abaixo, quando a tag 
    tiver alguma propriedade para indicar um conteudo  -->
    
    <!-- <img [src]="urlImagem"/> -->
    <!-- = -->
    <!-- <img bind-src="urlImagem"/>
  </article> -->
  <!-- <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe: 
      <!-- Utilizando variavel local de template -->
      <!-- <select #classe (change)="0">
         <option value="alert-success">Sucesso</option>
         <option value="alert-info">Informação</option>
         <option value="alert-warning">Aviso</option>
         <option value="alert-danger">Erro</option> 
      </select>
      <br><br> -->

      <!-- Com o # do select faço a comparação -->
      <!-- Usando a interpolação -->
      <!-- <div class="alert {{ classe.value }}" role="alert">   
        Texto colorido conforme o valor do combobox
      </div> -->

      <!-- Caso o option selecionado tiver o valor == alert-algumaCoisa 
           ele vai fazer a div ficar com a cor -->
      
      <!-- <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        Sucesso
      </div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        Informação
      </div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'" >
        Aviso
      </div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'" >
        Erro
      </div>

      <div class="alert" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'" >
        Mensagem de erro
      </div>

    </div>
  </article>
  

</section> -->

  <!-- EVENT BINDING -->
  <section>
    <article>
      <h3>Event binding</h3>
      <div>
        <!-- Para evento usa () -->
        <button (click)="botaoClicado()" class="btn btn-primary">Me clique</button>

        <br><br>
        <!-- No lugar de usar $event.target usa campoInput -->
        <input type="text" (keyup)="onKeyUp($event)" 
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor($event.target.value)" #campoInput/>

        <p>Valor atual é: {{ valorAtual }}</p>
        <p>Valor salvo é: {{ valorSalvo }}</p>

        <br><br>

        <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
        >
         Passe o mouse sobre mim
      </span>

      </div>
    </article>
  </section>
